/* Default grid layout for small screens */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* 2-column layout for charts */
.cardGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 16px;
}

.cardGrid2 {
  display: grid;
  grid-template-columns: 3fr;
}

.cardGrid2 .cardRec {
  margin-bottom: 16px;
}

.graphContainer{
  margin-top: 16px;
}

@media (min-width: 768px) { /* Tablet view */
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) { /* Larger screens */
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 16px;
}

.cardInfo p {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
}

/* Card style */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 520px;
}

/* Hover effect for cards */
.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2{
  font-size: 3rem;
  color: #4a4a4a;
  margin-bottom: 0.75rem;
}

.card p{
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-top: 1rem;
}

/* Improved rectangular card layout */
.cardRec {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardRec:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardRec .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 121, 107, 0.1);
  border-radius: 50%;
}

.cardRec .number {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.cardRec .label {
  font-size: 0.875rem;
  color: #777;
}
