
@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
}

:root {
  font-family: 'Gilroy', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* Add Gilroy here */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(228, 100%, 99%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif; /* Keep this for fallback */
}